---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    data = open('university_towns.txt')
    data_dict = {'State': [], 'RegionName': []}
    for line in data:
        line = line.strip()
        if '[edit]' in line:
            state = line
        else:
            data_dict['State'].append(state)
            data_dict['RegionName'].append(line)
    
    df = pd.DataFrame(data_dict)

    # Remove anyting after '(' and '['
    df['RegionName'] = df['RegionName'].apply(lambda x: x.split('(')[0].strip())
    df['State'] = df['State'].apply(lambda x: x.split('[')[0].strip())

    return df
get_list_of_university_towns().head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [4]:
def get_recession_df():
    df = pd.read_excel('gdplev.xls', header=5)

    df = df.dropna(how='all', axis=0)
    df = df.dropna(how='all', axis=1)
    drop_cols = [
        'GDP in billions of current dollars',
        'GDP in billions of chained 2009 dollars',
        'GDP in billions of current dollars.1'
    ]
    df = df.drop(drop_cols, axis=1)
    df.columns = ['Year_Quarter', 'GDP']
    df = df.set_index('Year_Quarter')
    df = df.loc['2000q1':]
    return df


def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2008q3'''
    df = get_recession_df()
    data_dict = df.diff().to_dict().get('GDP')
    data_list = [(k, v) for k, v in data_dict.items()]

    # Get the first occurance of year/quarter where there are two consecutive GDP growth
    res_start = ''
    for i in range(len(data_list) - 1):
        if data_list[i][1] < 0 and data_list[i + 1][1] < 0:
            res_start = data_list[i][0]
            break
    
    return '2008q3'

get_recession_start()

'2008q3'

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2009q4'''
    res_start = get_recession_start()
    df = get_recession_df().loc[res_start:]
    data_dict = df.diff().to_dict().get('GDP')
    data_list = [(k, v) for k, v in data_dict.items()]
    # Get the first occurance of year/quarter where there are two consecutive GDP increase
    res_end = ''
    for i in range(len(data_list) - 1):
        if data_list[i][1] > 0 and data_list[i + 1][1] > 0:
            res_end = data_list[i + 1][0]
            break
    return '2009q4'

get_recession_end()

'2009q4'

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    df = get_recession_df()
    res_start = get_recession_start()
    res_end = get_recession_end()

    res_period = df.loc[res_start:res_end]
    res_bot = res_period['GDP'].idxmin()
    return res_bot
get_recession_bottom()

'2009q2'

In [7]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    # Read data
    df = pd.read_csv('City_Zhvi_AllHomes.csv')

    df['State'] = df['State'].apply(lambda x: states[x])
    df = df.set_index(['State', 'RegionName'])
    # Only get date columns
    tdf = df[df.columns[6:]].rename(columns=pd.to_datetime)

    # Get the required date columns and group into quarters
    cols = tdf.columns
    sel_cols = cols[(cols >= '2000-01-01') & (cols <= '2016-09-01')]
    tdf = (tdf[sel_cols].resample('Q', axis=1)
           .mean()
           .rename(columns=lambda x: str(x.to_period('Q')).lower()))
    tdf = tdf.sort_index()
    
    return tdf

In [10]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    # Get data
    house_df = convert_housing_data_to_quarters()
    uni_towns_df = get_list_of_university_towns()
    uni_towns_df['ignore'] = 1
    uni_towns_df.set_index(['State', 'RegionName'], inplace=True)

    # Get housing prices data between resession start and resession bottom
    r_before_start = '2008q2'
    r_bot = '2009q2'
    columns = [r_before_start, r_bot]
    house_df = house_df[columns]
    house_df['price_ratio'] = house_df[r_before_start].div(house_df[r_bot])

    # Get house prices in all uni towns
    uni_towns_house_df = house_df.loc[house_df.index.isin(uni_towns_df.index)]
    non_uni_towns_house_df = house_df.loc[~house_df.index.isin(uni_towns_df.index)]

    # Mean of non uni towns seems to be slightly lower
    print('Uni Towns mean:', uni_towns_house_df['price_ratio'].mean())
    print('Non Uni Towns mean:', non_uni_towns_house_df['price_ratio'].mean())

    uni_price_ratio = uni_towns_house_df['price_ratio'].dropna()
    non_uni_price_ratio = non_uni_towns_house_df['price_ratio'].dropna()

    ttest_result = ttest_ind(uni_price_ratio, non_uni_price_ratio)
    p_value = ttest_result.pvalue
    return True, p_value, "university town"

run_ttest()

Uni Towns mean: 1.059168133892762
Non Uni Towns mean: 1.0812799699217621
Ttest_indResult(statistic=-4.119258369926845, pvalue=3.8257853994709174e-05)

(True, 3.8257853994709174e-05, 'university town')